  <div class="col-2">
               <div class="puan-durumu" style="width: 100%;">    <!--TRT Spor Sitene Ekle -->
           <div style="font: normal 11px Arial; width: 379.1px; border: solid 1px #ccc; background: #fff; border-radius: 3px; box-shadow: 1px 1px 3px #ccc;">
          <h2 style="padding: 8px; margin: 0; height: 50px; border: 0; border-bottom: solid 1px #ccc;">
              <a href="#" style="text-decoration: none; font-weight: bold;">Puan Durumu</a>
          </h2>
          <iframe frameborder="0" width="100%" height="300" src="https://www.trtspor.com.tr/puandurumu-ekle/?lig=1&renk=a&baslik=1&resimler=1&a=9"></iframe>
          <div style="text-align: center; line-height: 23px;border-top: solid 1px #ccc; color: #666; margin-top: 5px;box-shadow: 0 -1px 3px #ccc;">
              <a style="text-decoration: none;color: #666; font: normal 11px Arial;" href="https://www.trtspor.com.tr/puandurumu_ekle.html" target="_blank">Ayrıntılı Puandurumu Tablosu</a>
          </div>
        </div>
           </div>
            <div class="iyi-oyuncular">
              <h2>Haftanın En İyi Oyuncuları</h2>
              <div class="iyi-oyuncular-content">
                <a target="_blank" href="/ana sayfa fotoğraflar/kerem.jpeg">
                  <img src="/ana sayfa fotoğraflar/kerem.jpeg" alt="Muhammed Kerem Aktürkoğlu" width="600" height="400">
                </a>
                <div class="aciklama">Muhammed Kerem Aktürkoğlu</div>
              </div>
              <div class="iyi-oyuncular-content">
                <a target="_blank" href="ana sayfa fotoğraflar/marcao.jpeg">
                  <img src="/ana sayfa fotoğraflar/marcao.jpeg" alt="Marcão" width="600" height="400">
                </a>
                <div class="aciklama">Marcão</div>
              </div>
              <div class="iyi-oyuncular-content">
                <a target="_blank" href="ana sayfa fotoğraflar/morutan.jpeg">
                  <img src="/ana sayfa fotoğraflar/morutan.jpeg" alt="Olimpiu Moruţan" width="600" height="400">
                </a>
                <div class="aciklama">Olimpiu Moruţan</div>
              </div>
            </div>
            </div>
        