<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <meta name="keywords" content="Galatasaray,Fatih Terim,Futbol,Basketbol,Aslantepe,Florya,Metin Oktay,Galatasaray Basketbol,Torrent,Burak Elmas,Gomis,Kerem,Marcao,Morutan,TFF"/>
    <meta name="description" content="Galatasaray Haber Sitesi" />
    <title>Futbol - Galatasaraydan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> 
<style>
   
html{
background-image: url(arkaplan.jpg);
-webkit-background-size: cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size: cover;
/* background-color: transparent !important; */
--bs-body-bg:transparent !important;
background-position:center;
}
.card{
display: inline-block;
margin: 25px;
justify-content: center;
}
.navbar{
    background-color: rgb(255, 179, 2);
}
li.nav-item{
    background-color: rgb(120, 12, 7);
    margin: 0.2rem;
    border: 2px solid rgb(255, 179, 2);
    border-radius: 12px;
    padding-left: 1px;
    padding-right: 1px;
    font-style: bold;
}
li a{
color: rgb(255, 179, 2)!important;
}
.btn{
    border-color: rgb(255, 179, 2);
}
.btn:hover{
    background-color: rgb(120, 12, 7);
    border-color: rgb(120, 12, 7);
}

.card-img-top{
    height: 150px;
    

}
.oku{
  color:rgb(120, 12, 7) ;
  background-color:rgb(255, 179, 2);
  font-weight: bold;
}

.arags{
  color: rgb(255, 179, 2);
  background-color: rgb(120, 12, 7);
  border-radius: 3000px;
}
.arags:hover{
  color: rgb(255, 179, 2);
}

.col-1{
    float: left;
    width: 75%;
    height: 100%;
    border-left: 1px solid black;
    border-right:1px solid black;
}
.col-2{
    background-color: rgb(255, 179, 2);
    border-left: 1px solid black;
    border-right:1px solid black;
    float: left;
    width: 24.99%;
    height: 100%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.iyi-oyuncular{
  text-align: center;
  display: inline-block;
}
.iyi-oyuncular-content{
display: inline-block;
  margin: 5px;
  margin-left: 100px;
  float: left;
  width: 200px;
  border: 1px solid #777;
}

.iyi-oyuncular-content img {
    display: inline-block;
    width: 100%;
    height: auto;
}
.aciklama {
    background-color: rgb(120, 12, 7);
    display: block;
    padding: 15px;
    text-align: center;

}
h2{

    font-family: Open Sans,sans-serif;
    color: rgb(190, 12, 7);
}
li.nav-item:hover{
background-color:#930829;
}
.renk{
  color: rgb(255, 179, 2);

}
</style>
</head>
    <body>
       {{>navbar}}

            <!-- card bölümü -->
           
            <div class="col-1">
              {{#each Habertemps}}
                <div class="card" style="width: 18rem;">
                <img src="{{post_image}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{Baslik}}</h5>
                  <p class="card-text">{{Karticerik}}</p>
                  <a href="/haber/{{_id}}" class="oku btn btn-primary">Haberi Oku</a>
                </div>
              </div>
             {{/each}}
              </div>
             
              
          {{>col-2}}
              
           
        </body>
        </html>